.form {
    background: #fff;   
    box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
    border-radius: 29px;
    height: 58px;
    transition: all .2s ease-in;

    &--active {
        box-shadow: 0 17px 42px rgba(247, 132, 52, 0.27);
    }
}


.form__label {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 72px;
    height: 100%;
    align-items: center;
    align-items: center;

    &::before {
        content: "";
        display: block;
        width: 24px;
        height: 19px;
        background-image: url('/img/icons/mail.svg');
        background-size: initial;
        position: absolute;
        top: 20px;
        left: 28px;
    }
}

.form__input {
    flex-grow: 1;
    margin-right: 10px;
}
