.header {

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 465px;
        p {
            line-height: 1.678;
            margin-bottom: 1em;
        }
    }

    &__title h1 {
            font-size: 54px;
            margin-bottom: 25px;
            font-weight: 700;
            line-height: 1.46;
            margin-right: -150px;
            position: relative;
            z-index: 9;

    }

    &__form {
        margin-top: 42px;
    }

    &__img img {
        border-radius: 40px 40px 40px 0;
    }
}